<div class="row header-row">
	<div class="col-md-12 logo-container">
		<a href="#home" title="home">
			<img src="http://placehold.it/225x75" title="logo"/>
		</a>
	</div>
	<div class="col-md-12">
		<nav>
			<ul class="nav">
				<li>
					<a class="nav-item" title="report missing" href="#report">Resport Missing</a> 
				</li>
				<li>
					<a class="nav-item" title="report missing" href="#sighting">Resport Sighting</a> 
				</li>
				<li>
					<a class="nav-item" title="Quick search" href="#quickSearch">Quick Search</a> 
				</li>
				<li>
					<a class="nav-item" title="More" href="javascript:;">More</a>
					<div class="flyout">
						<ul>
							<li><a href="#contact">Contact us</a></li>
							<li><a href="#donate">Donate</a></li>
							<li><a href="#volunteer">Volunteer</a></li>
							<li><a href="#feedback">Feedback</a></li>
							<li><a href="#help">Help</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</nav>
	</div>
</div>