<div class="col-xs-12">
	<div class="row category-item">
		<a href="#!clp/123">
			<div class="col-xs-12">
				<div class="cat-image">
					<img src="img/men_Clothing.png" alt="shop by Men's" />
				</div>
				<div class="cat-name-wrapper">
					<div class="shop-by-text">Shop by</div>
					<div class="cat-name">Men's</div>
				</div>
			</div>
		</a>
		<span class="arrow"></span>
	</div>
	<div class="row category-item">
		<a href="javascript:;">
			<div class="col-xs-12">
				<div class="cat-image">
					<img src="img/women_clothing.png" alt="shop by Men's" />
				</div>
				<div class="cat-name-wrapper">
					<div class="shop-by-text">Shop by</div>
					<div class="cat-name">Women's</div>
				</div>
			</div>
		</a>
		<span class="arrow"></span>
	</div>
	<div class="row category-item">
		<a href="javascript:;">
			<div class="col-xs-12">
				<div class="cat-image">
					<img src="img/kids-clothing.jpg" alt="shop by Men's" />
				</div>
				<div class="cat-name-wrapper">
					<div class="shop-by-text">Shop by</div>
					<div class="cat-name">Kids's</div>
				</div>
			</div>
		</a>
		<span class="arrow"></span>
	</div>
		<div class="row other-cat-head">
			<div class="col-xs-12">
				<div class="other-cat-head-icon"></div>
				<div class="other-cat-head-title">Other category</div>
			</div>
		</div>
		<div class="row other-cat">
			<div class="col-xs-12 other-cat-item">
				<div class="other-cat-icon"></div>
				<div class="other-cat-title"><a href="javascript:;" title="Bagpacks">Bagpacks</a><span class="arrow"></span></div>
			</div>
			<div class="col-xs-12 other-cat-item">
				<div class="other-cat-icon Umberellas"></div>
				<div class="other-cat-title "><a href="javascript:;" title="Umberellas">Umberellas</a><span class="arrow"></span></div>
			</div>
			<div class="col-xs-12 other-cat-item">
				<div class="other-cat-icon"></div>
				<div class="other-cat-title Perfumes"><a href="javascript:;" title="Perfumes">Perfumes</a><span class="arrow"></span></div>
			</div>
			<div class="col-xs-12 other-cat-item child">
				<div class="other-cat-icon Mens"></div>
				<div class="other-cat-title "><a href="javascript:;" title="Perfumes">Men's Clothing</a><span class="arrow"></span></div>
				<ul class="cat-child">
					<li><a href="#!prodList/123">T-Shirts</a><span class="arrow"></span></li>
					<li><a href="javascript:;">CasualShirts</a><span class="arrow"></span></li>
					<li><a href="javascript:;">Formal Shirts</a><span class="arrow"></span></li>
					<li><a href="javascript:;">Jeens</a><span class="arrow"></span></li>
					<li><a href="javascript:;">Trousers</a><span class="arrow"></span></li>
				</ul>
			</div>
			<div class="col-xs-12 other-cat-item child">
				<div class="other-cat-icon Mens-footwear"></div>
				<div class="other-cat-title "><a href="javascript:;" title="Perfumes">Men's Footwear</a><span class="arrow"></span></div>
				<ul class="cat-child">
					<li><a href="#!prodList/123">T-Shirts</a><span class="arrow"></span></li>
					<li><a href="javascript:;">CasualShirts</a><span class="arrow"></span></li>
					<li><a href="javascript:;">Formal Shirts</a><span class="arrow"></span></li>
					<li><a href="javascript:;">Jeens</a><span class="arrow"></span></li>
					<li><a href="javascript:;">Trousers</a><span class="arrow"></span></li>
				</ul>
			</div>
			<div class="col-xs-12 other-cat-item child">
				<div class="other-cat-icon Mens-accessory"></div>
				<div class="other-cat-title "><a href="javascript:;" title="Perfumes">Men's Accessory</a><span class="arrow"></span></div>
				<ul class="cat-child">
					<li><a href="#!catList/123">T-Shirts</a><span class="arrow"></span></li>
					<li><a href="javascript:;">CasualShirts</a><span class="arrow"></span></li>
					<li><a href="javascript:;">Formal Shirts</a><span class="arrow"></span></li>
					<li><a href="javascript:;">Jeens</a><span class="arrow"></span></li>
					<li><a href="javascript:;">Trousers</a><span class="arrow"></span></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 banner">
				<img src="http://placehold.it/450x150/FFFFFF" alt="fashion blog"/>
			</div>
		</div>
		<div class="row seo">
			<div class="col-xs-12">
				<div class="seo-head">
					EBAY FASHION
				</div>
				<div class="seo-content">
					<span class="expand-arrow"></span>
					<p>Trends in clothing and accessories have always made the world go round. What's de rigueur, what's chic, what's not. At ebay India we love trends in clothing and its accompanying accessories. And why not? So we've gone the whole hog to take care that we never fall behind in our commitment to bring you what is genuine and current. ebay India has introduced an entire section dedicated solely to fashion trends in clothing and accessories.</p>
					<p>As India's largest online store our brands of clothing for men, women and kids include names like Calvin Klein, Levis, Pepe, FCUK, and Monte Carlo. Shoes from time-tested brands include Puma, Reebok, Nike, and Woodland. Beautiful and sporty watch designs for both men and women include big brand names like Fasttrack, Fossil, Police, Timex, and Chronostar. Women's &amp; Men's perfumes include time-honoured brands like Christian Dior, Victoria's Secret, Calvin Klein, Davidoff, and Park Avenue.</p>
				</div>
			</div>
		</div>
</div>