body {
  background: url(http://ir.ebaystatic.com/pictures/aw/pics/cmp/ds3/imgbg.jpg) repeat 0 0 #f8f8f8;
  color: #333;
  font-size: 14px;
  font-family: "Helvetica neue", Helvetica, Arial, Sans-serif;
  line-height: 1;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0px;
}
nav > ul > li {
  float: left;
}
img {
  max-width: 100%;
}
header {
  background: url(../img/header.png);
}
header .logo-container {
  height: 162px;
}
header nav {
  margin: 2px;
}
header nav ul li .flyout {
  position: absolute;
  box-shadow: 1px 1px 1px #ccc;
  background: #fff;
  display: none;
  width: 115px;
}
header nav ul li .flyout.show {
  display: block;
}
header nav ul li a {
  position: relative;
  display: block;
  padding: 10px 15px;
  background: #fff;
  margin-right: 2px;
  color: #222;
}
